body {
  padding-top: 20px;
  padding-bottom: 20px;
}


.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart polyline {
  stroke-opacity: 0.3;
  stroke-width: 2px;
  stroke: black;
  fill: none;
  pointer-events: none;
}

.chart text {
  pointer-events: none;
}
